$color_1: #6a5e75;
$color_2: #453d4d;
$color_3: #6714b3;
$color_4: #000;
$color_5: #48008b;
$color_6: transparent;
$color_7: #fff;
$color_8: #6621B0;
$color_9: #6320AC;
$color_10: #b3b3b3;
$color_11: rgba(255, 255, 255, 0.2);
$color_12: #212529;
$font_family_1: 'GraphikLC-Regular';
$font_family_2: 'GraphikLC-Medium';
$font_family_3: 'Rubik', sans-serif;
$font_family_4: avenir, sans-serif;
$background_color_1: #48008b;
$background_color_2: #e0dae6;
$background_color_3: #fff;
$background_color_4: #000;
$background_color_5: transparent;
$border_color_1: #6714b3;
$border_color_2: #48008b;
$border_color_3: #e0dae6;
$border_color_4: #fff;
$border_color_5: rgba(255, 255, 255, 0.2);